*.suo
*.obj
*.user
*.sln.docstates
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.vcxproj.vpc_crc
*.sln
src/game/client/release_tf_mod/
src/game/server/release_tf_mod
client.dll
server.dll
